---

---


<section class="pricing-table" id="pricing">
    <div class="container">
        <div class="center text-container">
            <h3 class="h1-title">Escolha o melhor plano</h3>
            <p>Nós projetamos nossos preços para ajudar você a encontrar as melhores soluções para você ou sua escola</p>
        </div>
        <div class="row">
            <div class="one-third column price-item">
                <div class="price-header m-margin">
                    <h5 class="l-subtitle">Básico</h5>
                    <h3 class="h2-title">R$29.90<span class="s-paragraph"> / uma vez</span></h3>
                    <a href="#" class="button u-full-width">Comprar</a>
                </div>

                <div class="price-list">
                    <p>10 gerações de planos de aula</p>
                </div>
            </div>
            <div class="one-third column price-item">
                <div class="price-header m-margin">
                    <h5 class="l-subtitle">Intermediário</h5>
                    <h3 class="h2-title">$39.99<span class="s-paragraph"> / uma vez</span></h3>
                    <a href="#" class="button button-primary u-full-width">Comprar</a>
                </div>

                <div class="price-list">
                  <p>30 gerações de planos de aula</p>
                </div>
            </div>
            <div class="one-third column price-item">
                <div class="price-header m-margin">
                    <h5 class="l-subtitle">Avançado</h5>
                    <h3 class="h2-title">$49.99<span class="s-paragraph"> / uma vez</span></h3>
                    <a href="#" class="button u-full-width">Comprar</a>
                </div>

                <div class="price-list">
                  <p>50 gerações de planos de aula</p>
                </div>
            </div>
        </div>
    </div>
 </section>


 <style lang="scss">

.pricing-table{
   background-color: #fff;
  .price-item{
    border: 1px solid #dde2e5;
    padding: 30px;
    margin-top: 20px;
    border-radius: 20px;
    .price-header{
      h3 .s-paragraph{
        color: #9ba5b9;
      }
    }
    .price-list{
      p{
        margin: 10px 0;
        position: relative;
        padding-left: 20px;
        &::before{
          position: absolute;
          content: '';
          left: 0; top: 5px;
          display: inline-block;
          transform: rotate(45deg);
          height: 8px;
          width: 5px;
          border-bottom: 2px solid #9ba5b9;
          border-right: 2px solid #9ba5b9;
          z-index: 5;
        }
      }
    }
    
  }
}
 </style>